{:blog ["zola"]
 :browser ["brave"]
 :messaging ["discord" "signal"]
 :password-manager ["keepassxc"]
 :package-manager [#_"homebrew"] 
 :programming {:clojure [#_"clojure"
                         #_"babaskha"] 
               :development ["fzf"
                             #_"git"
                             "git-credential-manager"
                             "neovim"
                             "nushell"
                             "ripgrep"
                             "starship"
                             "wezterm"
                             "zoxide"]
               :python ["uv"]
               :rust ["rustup"]}
 :utilities ["raycast"
             "stow"
             "syncthing"]
 :window-management [#_"skhd"
                     #_"yabai"]}
           
 
